@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    /* padding-inline: 2rem; */
    }

#logo{
    background-color: black;
    padding: 3rem;
    color: white;
    text-align: center;
    letter-spacing: 0.7cm;
    font-weight: 200;
}


h2{

    padding-top: 2rem;
    text-align: center;
}

h3{
    text-transform: uppercase;
}




#contenedor{
    padding-inline: 2rem;
    margin-bottom: 5rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 4rem;
}

#card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 2px gray;
    border-radius: 10px;
    width: fit-content;
    padding: 1rem;
    padding-bottom: 1.5rem;
    margin-bottom: 2rem;
}

#image{
    width: 200px;
}

#prod_title{
    margin-top: 10px;
    margin-bottom: 5px;
}

#prod_info {
    margin-block: 5px;
}

#button_verMas{
    margin: 0 auto;
    margin-top: 1rem;
    background-color: black;
    padding: 10px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
}

#pagination_buttons{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-self: center;
    gap: 2rem;
}

#pagination_button{    
    background-color: black;
    padding: 10px;
    border-radius: 5px;
    color: white;
    text-decoration: none;    
}

